# EditorConfig is awesome: https://EditorConfig.org
# Code Institute Code Style Basics

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
indent_style             = space # Python PEP8 Style Guide as dominant factor
end_of_line              = lf
trim_trailing_whitespace = true # IDE | Pre-commit Linting
insert_final_newline     = true # IDE | Pre-commit Linting

# Match Front-end Files with
[*.{html,css,scss}]
charset         = utf-8 # IDE | Pre-commit Linting | File Compatibility
indent_size     = 4 # Consistency but individually controllable
max_line_length = 120 #PyCharm, WebStorm

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,py}]
charset = utf-8 # IDE | Pre-commit Linting | File Compatibility

# 4 space indentation
[*.js]
# indent_style = space
indent_size     = 4 # Consistency but individually controllable
max_line_length = 100 #PyCharm, WebStorm

[*.py]
# indent_style = space
indent_size     = 4 # Python PEP8 Style Guide as dominant factor, indent size is critical for Python
max_line_length = 80 # Autopep8 default #PyCharm, WebStorm

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml,config.js}]
# indent_style = space
indent_size = 2
